# Python
__pycache__/
*.py[cod]
*.so
.env
venv/

# IDE
.vscode/
.idea/

# Local data
*.db
*.sqlite3
logs/

# Docker
docker-compose.override.yml

# Other
TODO.md
diff.txt
docker-compose.override.yml
DEVELOPER_GUIDE.md
